@using Deploy.Resources
@using System.Globalization
<!DOCTYPE html>
<!--http://www.willpeavy.com/minifier/--->>
<html>
@{
    var isAzure = !string.IsNullOrEmpty(Deploy.Settings.WEBSITE_SITE_NAME);
    var aiIinstrumentationKey = Deploy.Settings.AppInsightsInstrumentationKey;
    var mpIinstrumentationKey = Deploy.Settings.MixPanelInstrumentationKey;
}
<head>
    <meta charset="utf-8">
    <title>@Client.Title</title>
    <script type="text/javascript">
            var Resources = {};
            @foreach (var p in typeof(Client).GetProperties()) {
                if (p.GetValue(null, null) != null) {
                    @: Resources["@Html.Raw(@p.Name)"] = "@Html.Raw(HttpUtility.JavaScriptStringEncode(p.GetValue(null, null).ToString()))";
                    }
            }
           var CurrentCulture = "@CultureInfo.CurrentCulture.TwoLetterISOLanguageName";
    </script>

    <link href="favicon.ico" rel="icon" type="image/x-icon">
    @{
        if (!string.IsNullOrEmpty(aiIinstrumentationKey))
        {
            <script type="text/javascript">
                var appInsights = window.appInsights || function (config) {
                    function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
                }({
                    instrumentationKey: "@aiIinstrumentationKey"
                });

                window.appInsights = appInsights;
            </script>
        }

        if (!string.IsNullOrEmpty(mpIinstrumentationKey))
        {
        <!-- start Mixpanel -->
            <script type="text/javascript">
                (function (e, b) { if (!b.__SV) { var a, f, i, g; window.mixpanel = b; b._i = []; b.init = function (a, e, d) { function f(b, h) { var a = h.split("."); 2 == a.length && (b = b[a[0]], h = a[1]); b[h] = function () { b.push([h].concat(Array.prototype.slice.call(arguments, 0))) } } var c = b; "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel"; c.people = c.people || []; c.toString = function (b) { var a = "mixpanel"; "mixpanel" !== d && (a += "." + d); b || (a += " (stub)"); return a }; c.people.toString = function () { return c.toString(1) + ".people (stub)" }; i = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" "); for (g = 0; g < i.length; g++) f(c, i[g]); b._i.push([a, e, d]) }; b.__SV = 1.2; a = e.createElement("script"); a.type = "text/javascript"; a.async = !0; a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; f = e.getElementsByTagName("script")[0]; f.parentNode.insertBefore(a, f) } })(document, window.mixpanel || []); mixpanel.init("@mpIinstrumentationKey", { cross_subdomain_cookie: true });
            </script>
        <!-- end Mixpanel -->
        }
         if (!isAzure)
        {
            <link rel="stylesheet" href="../content/styles/app.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
            <script src="../ng/scripts/app.js"></script>
        }
        else
        {
            <link rel="stylesheet" href="/try/content/styles/app.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
            <script src="/try/ng/scripts/app.min.js"></script>
        }

    }
</head>

<!-- apply our angular app -->
<body ng-app="formApp" ng-controller="FormController">
    <div ui-view>
        <header class="azure-header">
            <div class="row column">
                <a target="_blank" href="https://azure.microsoft.com/"class="logo">
                    <svg style="display: none; visibility: hidden;">
                        <defs>
                            <symbol id="microsoft-azure" viewBox="0 0 163.985 19.25">
                                <title>@Client.MicrosoftAzure</title>
                                <path d="M18.525,19.893H16.467V8.037q0-1.4.173-3.438H16.59a10.947,10.947,0,0,1-.53,1.713L10.021,19.893H9.011L2.984,6.411A10.592,10.592,0,0,1,2.455,4.6H2.405q.1,1.059.1,3.463V19.893h-2V2.22H3.243L8.666,14.544a15.8,15.8,0,0,1,.813,2.12h.074q.53-1.455.85-2.169L15.937,2.22h2.588Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M23.3,4.069a1.282,1.282,0,0,1-.924-.37A1.246,1.246,0,0,1,22,2.763,1.3,1.3,0,0,1,23.3,1.444a1.3,1.3,0,0,1,.942.376,1.253,1.253,0,0,1,.389.942,1.247,1.247,0,0,1-.389.924A1.29,1.29,0,0,1,23.3,4.069Zm.986,15.824H22.269V7.273H24.29Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M36.353,19.314a6.571,6.571,0,0,1-3.451.875,5.718,5.718,0,0,1-4.357-1.756,6.37,6.37,0,0,1-1.657-4.554A6.993,6.993,0,0,1,28.675,8.87a6.25,6.25,0,0,1,4.769-1.892,6.644,6.644,0,0,1,2.933.616v2.07a5.14,5.14,0,0,0-3.007-.986A4.068,4.068,0,0,0,30.2,10.064a5.268,5.268,0,0,0-1.238,3.642,5.013,5.013,0,0,0,1.164,3.5,4.018,4.018,0,0,0,3.125,1.282,5.069,5.069,0,0,0,3.106-1.1Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M45.359,9.319a2.472,2.472,0,0,0-1.528-.407,2.581,2.581,0,0,0-2.163,1.22A5.648,5.648,0,0,0,40.8,13.46v6.433H38.778V7.273H40.8v2.6h.049A4.409,4.409,0,0,1,42.167,7.8a3.009,3.009,0,0,1,1.984-.745,3.306,3.306,0,0,1,1.208.173Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M51.864,20.189A5.852,5.852,0,0,1,47.4,18.42a6.546,6.546,0,0,1-1.67-4.689,6.825,6.825,0,0,1,1.738-4.967,6.246,6.246,0,0,1,4.7-1.787,5.661,5.661,0,0,1,4.406,1.738,6.892,6.892,0,0,1,1.583,4.819,6.78,6.78,0,0,1-1.706,4.837A5.981,5.981,0,0,1,51.864,20.189Zm.148-11.511A3.844,3.844,0,0,0,48.931,10,5.44,5.44,0,0,0,47.8,13.657a5.146,5.146,0,0,0,1.146,3.537,3.9,3.9,0,0,0,3.069,1.294,3.692,3.692,0,0,0,3.013-1.269,5.5,5.5,0,0,0,1.054-3.611A5.6,5.6,0,0,0,55.025,9.96,3.677,3.677,0,0,0,52.012,8.678Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M59.983,19.437V17.268a5.981,5.981,0,0,0,3.636,1.22q2.662,0,2.662-1.775a1.539,1.539,0,0,0-.228-.857,2.27,2.27,0,0,0-.616-.622,4.7,4.7,0,0,0-.912-.487Q64,14.533,63.4,14.3a14.586,14.586,0,0,1-1.472-.671,4.461,4.461,0,0,1-1.06-.764,2.834,2.834,0,0,1-.641-.968,3.416,3.416,0,0,1-.216-1.269,3.019,3.019,0,0,1,.407-1.572A3.6,3.6,0,0,1,61.5,7.908a5.054,5.054,0,0,1,1.546-.7,6.856,6.856,0,0,1,1.794-.234,7.234,7.234,0,0,1,2.933.567V9.59a5.718,5.718,0,0,0-3.2-.912,3.783,3.783,0,0,0-1.023.129,2.506,2.506,0,0,0-.782.364,1.684,1.684,0,0,0-.506.561,1.481,1.481,0,0,0-.178.72,1.736,1.736,0,0,0,.178.826,1.819,1.819,0,0,0,.524.592,3.989,3.989,0,0,0,.838.468q.493.209,1.121.456a15.407,15.407,0,0,1,1.5.66,5.106,5.106,0,0,1,1.134.764,2.968,2.968,0,0,1,.72.979,3.156,3.156,0,0,1,.253,1.319,3.11,3.11,0,0,1-.412,1.627,3.556,3.556,0,0,1-1.1,1.146,5.038,5.038,0,0,1-1.59.678,7.853,7.853,0,0,1-1.886.222A7.156,7.156,0,0,1,59.983,19.437Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M76.1,20.189a5.852,5.852,0,0,1-4.467-1.769,6.546,6.546,0,0,1-1.67-4.689A6.825,6.825,0,0,1,71.7,8.764a6.246,6.246,0,0,1,4.7-1.787A5.661,5.661,0,0,1,80.8,8.715a6.892,6.892,0,0,1,1.583,4.819,6.78,6.78,0,0,1-1.706,4.837A5.981,5.981,0,0,1,76.1,20.189Zm.148-11.511A3.844,3.844,0,0,0,73.167,10a5.44,5.44,0,0,0-1.134,3.654,5.146,5.146,0,0,0,1.146,3.537,3.9,3.9,0,0,0,3.069,1.294,3.692,3.692,0,0,0,3.013-1.269,5.5,5.5,0,0,0,1.054-3.611A5.6,5.6,0,0,0,79.26,9.96,3.677,3.677,0,0,0,76.247,8.678Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M90.763,2.985a2.691,2.691,0,0,0-1.343-.333q-2.12,0-2.12,2.674V7.273h2.958V9H87.3V19.893H85.291V9H83.135V7.273h2.157V5.228a4.25,4.25,0,0,1,1.146-3.136A3.867,3.867,0,0,1,89.3.939a3.959,3.959,0,0,1,1.467.222Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M97.605,19.77a3.9,3.9,0,0,1-1.886.394q-3.315,0-3.315-3.7V9H90.236V7.273H92.4V4.192l2.021-.653V7.273h3.18V9h-3.18V16.11a2.949,2.949,0,0,0,.431,1.812,1.722,1.722,0,0,0,1.43.542,2.124,2.124,0,0,0,1.319-.419Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M120.407,19.893h-2.292l-1.873-4.954h-7.493l-1.762,4.954h-2.3L111.46,2.22H113.6Zm-4.843-6.815-2.773-7.53a7.21,7.21,0,0,1-.271-1.183h-.049a6.587,6.587,0,0,1-.283,1.183l-2.748,7.53Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M130.9,7.853l-7.468,10.315h7.394v1.725H120.466v-.629L127.934,9h-6.766V7.273H130.9Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M143.091,19.893H141.07v-2h-.049a4.15,4.15,0,0,1-3.894,2.292q-4.511,0-4.511-5.373V7.273h2.009V14.5q0,3.993,3.056,3.993a3.093,3.093,0,0,0,2.434-1.09,4.175,4.175,0,0,0,.956-2.853V7.273h2.021Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M153.12,9.319a2.472,2.472,0,0,0-1.528-.407,2.581,2.581,0,0,0-2.163,1.22,5.648,5.648,0,0,0-.868,3.327v6.433h-2.021V7.273h2.021v2.6h.049A4.409,4.409,0,0,1,149.928,7.8a3.009,3.009,0,0,1,1.984-.745,3.306,3.306,0,0,1,1.208.173Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                                <path d="M164.493,14.088h-8.91a4.72,4.72,0,0,0,1.134,3.254,3.909,3.909,0,0,0,2.982,1.146,6.2,6.2,0,0,0,3.919-1.4v1.9a7.327,7.327,0,0,1-4.4,1.208,5.331,5.331,0,0,1-4.2-1.72,7.032,7.032,0,0,1-1.528-4.837,6.9,6.9,0,0,1,1.67-4.8A5.354,5.354,0,0,1,159.3,6.978a4.743,4.743,0,0,1,3.833,1.6,6.682,6.682,0,0,1,1.356,4.449Zm-2.07-1.713a4.109,4.109,0,0,0-.845-2.724,2.873,2.873,0,0,0-2.31-.974A3.267,3.267,0,0,0,156.839,9.7a4.644,4.644,0,0,0-1.232,2.674Z"
                                      transform="translate(-0.507 -0.939)" fill="#00abec"></path>
                            </symbol>
                        </defs>
                    </svg>
                    <svg>
                        <use xlink:href="#microsoft-azure"></use>
                    </svg>
                </a>
                <div class="relative-container">
                    <ul class="menu-tools">
                        <li class="sales">
                            <a target="_blank" href="https://azure.microsoft.com/overview/sales-number/">@Client.Sales<span>1-800-867-1389</span><span class="phone-arrow-down"></span><span class="slider-sales-tooltip"> <span> <p>@Client.QuestionsSales</p> <p><span style="text-transform: capitalize;">@Client.UnitedStates</span>: <span>1-800-867-1389</span></p> <p style="display: none;"><span>United States: 1-800-867-1389</span></p> <span class="arrowLink">@Client.Findalocalnumbersubmitquery</span> </span> </span></a>
                        </li>
                        <li><a target="_blank" href="https://azure.microsoft.com/account/">@Client.MyAccount</a></li>
                        <li><a target="_blank" href="https://portal.azure.com/">@Client.Portal</a></li>
                    </ul>
                </div>
                <a href="#" class="small-hamburger"> <span class="icon-hamburger"></span> </a>
                <a href="#" class="small-search"> <span class="icon icon-search"></span> </a>
                <ul class="menu">
                    <li class="mobile-free-trial">
                        <span class="mobile-phone">
                            <a href="tel:1-800-867-1389">@Client.Sales: <span>1-800-867-1389</span></a>
                            : <a class="arrowLink" href="https://azure.microsoft.com/overview/sales-number/">@Client.Findalocalnumber</a>
                        </span> <a target="_blank" href="https://azure.microsoft.com/account/">@Client.MyAccount</a>                <a target="_blank" href="https://portal.azure.com/">@Client.Portal</a>
                    </li>
                    <li>
                        <a role="button" href="https://azure.microsoft.com/overview/what-is-azure/" id="navigation-why-azure">@Client.WhyAzure</a>
                    </li>
                    <li><a href="https://azure.microsoft.com/solutions/">@Client.Solutions</a></li>
                    <li id="main-nav-documentation"><a href="https://docs.microsoft.com/azure/">@Client.Documentation</a></li>
                    <li><a href="https://azure.microsoft.com/pricing/">@Client.Pricing</a></li>
                    <li><a href="https://azure.microsoft.com/partners/">@Client.Partners</a></li>
                    <li><a href="https://azure.microsoft.com/blog/">@Client.Blog</a></li>
                    <li>
                        <a role="button" href="https://azure.microsoft.com/resources/" id="navigation-resources">@Client.Resources</a>
                    </li>
                    <li>
                        <a role="button" href="https://azure.microsoft.com/support/options/" id="navigation-support">@Client.Support</a>
                    </li>
                </ul>
            </div>
            <div class="nav-end"></div>
        </header>
        <main class="wa-container" id="main">
            <section class="section section-size2 section-slate03">
                <div class="row row-middled-flex">
                    <div class="column medium-8">
                        <h1>@string.Format(Client.Information_DeployingHeader, "{{formData.templateName}}")  </h1>
                    </div>
                    <div class="column medium-4 text-center"> <span class="try-hero-icon"><svg style="display: none; visibility: hidden;"><defs><symbol id="app-service" viewBox="0 0 50 50"> <path fill="#A0A1A2" d="M20.1,46.5H3.5V30h3.4c-0.4-1-0.6-2.1-0.6-3.3c0,0,0-0.1,0-0.2H0V50h23.6V36h-3.5V46.5z"></path> <path fill="#A0A1A2" d="M43.5,30h3v16.6H29.9V36.1h-3.5V50H50V26.5h-7.4c0.5,1,0.9,2,0.9,3.3C43.5,29.8,43.5,29.9,43.5,30z"></path> <path fill="#A0A1A2" d="M3.5,20V3.5h16.6v9.6c1-0.8,2.3-1.3,3.5-1.6V0H0v23.5h6.8C7.3,22.3,8,21,9,20.1L3.5,20L3.5,20z"></path> <path fill="#A0A1A2" d="M29.9,11.1V3.5h16.6v16.6h-7.3c0.3,1,0.5,2.2,0.5,3.4c0,0,0,0.1,0,0.1H50V0H26.4v10.9c0.3,0,0.5-0.1,0.8-0.1 C28.1,10.9,29,10.9,29.9,11.1z"></path> <path fill="#59B4D9" d="M40.8,29.7c0-2.1-1.7-3.7-3.7-3.7c-0.2,0-0.3,0-0.5,0c0.2-0.8,0.4-1.7,0.4-2.6c0-5.5-4.4-9.9-9.9-9.9 c-4.3,0-8,2.8-9.3,6.8c-0.7-0.2-1.4-0.4-2.2-0.4c-3.7,0-6.7,3-6.7,6.8c0,3.8,3,6.8,6.7,6.8c0,0,0,0,0,0v0h21.8l0,0 C39.3,33.3,40.8,31.7,40.8,29.7"></path> <path opacity="0.2" fill="#FFFFFF" d="M19.2,33.5c-0.9-0.9-1.5-2-1.8-3.3c-0.8-3.7,1.4-7.3,5.1-8.1c0.8-0.2,1.5-0.2,2.2-0.1 c0.3-3.4,2.4-6.5,5.5-8c-0.9-0.3-1.9-0.5-3-0.5c-4.3,0-8,2.8-9.3,6.8c-0.7-0.2-1.4-0.4-2.2-0.4c-3.7,0-6.7,3-6.7,6.8 c0,3.8,3,6.8,6.7,6.8c0,0,0,0,0,0v0H19.2z"></path> </symbol> </defs></svg><svg><use xlink:href="#app-service"></use></svg></span>                </div>
                </div>
            </section>
            <div class="row row-middled-flex">
                <div class="column medium-12">
                    <form id="deploy-form" name="myForm">
                        <div id="form-views" ui-view>
                            <div class="form-group col-md-6" id="loadingMessage">
                                <label>@string.Format(Client.Loading)</label>
                            </div>
                            <div ng-cloak ng-show="formData.params">
                                <div class="form-group col-md-6">
                                    <label>@Client.Subscription&nbsp;:&nbsp;{{formData.subscription.displayName}}</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>@Client.Name&nbsp;:&nbsp;{{formData.appServiceName}}</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>@Client.Location&nbsp;:&nbsp;{{formData.appServiceLocation}}</label>
                                </div>
                                <div style="visibility: hidden" id="submittingMessage">@Client.SubmittingDeployment </div>
                                <div class="result-body">
                                    <ul>
                                        <div ng-show="!formData.deploymentSucceeded" ng-repeat="mesg in formData.statusMesgs">
                                            {{mesg}}
                                            <span id="spinnerStatus" ng-if="!$last"><i class="fa fa-check" style="color: green" ng-show="!formData.errorMesg && !formData.deploymentSucceeded"></i></span>
                                            <span id="spinnerStatus" ng-if="$last"><i class="fa fa-spinner fa-spin" ng-show="!formData.errorMesg && !formData.deploymentSucceeded"></i></span>
                                        </div>
                                        <div ng-show="formData.deploymentSucceeded || formData.errorMesg ">
                                            <div ng-show="formData.deploymentSucceeded">@Client.Information_DeploymentCompleted</div>
                                            <div ng-show="formData.errorMesg">@Client.Information_DeploymentFailed</div>
                                            <div class="column small-4 large-2 end">
                                                <div>
                                                    @string.Format(Client.Information_Redirecting) <a target='_blank' ng-href='{ { formData.portalUrl} }'>@Client.Information_RedirectingClickhere</a>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                    <div ng-show="!timerElapsed">
                                        @Client.Information_RedirectingShortly
                                    </div>
                                    <div ng-show="timerElapsed">
                                        @string.Format(Client.Information_RedirectTakingTooLong) <a target='_blank' ng-href='{ { formData.portalUrl} }'>@Client.Information_RedirectingClickhere</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer data-tag-area="footer" data-tag-group="footer" role="contentinfo">
            <div class="row">
                <nav class="column medium-3" role="navigation" aria-labelledby="navigation-go-social">
                    <div class="text-heading6" id="navigation-go-social">@Client.GoSocial</div>
                    <ul class="linkList linkList-social">
                        <li><a target="_blank" href="https://www.facebook.com/microsoftazure"><span class="icon icon-size3"><svg style="display: none; visibility: hidden;"><defs><symbol id="facebook-square-bw" viewBox="0 0 28 28"> <title lang="en">@Client.Facebook</title> <rect width="28" height="28" fill="#fff"></rect> <path id="f" d="M19.319,28V17.157h3.64l.545-4.226H19.319v-2.7c0-1.223.34-2.057,2.094-2.057h2.238V4.4a29.944,29.944,0,0,0-3.261-.166c-3.226,0-5.435,1.969-5.435,5.586v3.116H11.307v4.226h3.649V28Z"></path> </symbol> </defs></svg><svg><use xlink:href="#facebook-square-bw"></use></svg></span><span class="show-for-medium">@Client.Facebook</span></a></li>
                        <li><a target="_blank" href="https://twitter.com/azure"><span class="icon icon-size3"><svg style="display: none; visibility: hidden;"><defs><symbol id="twitter-square" viewBox="0 0 34 34"> <title lang="en">@Client.Twitter</title> <rect width="34" height="34" fill="#fff"></rect> <path d="M12.512,27.23A14.5,14.5,0,0,0,27.106,12.636c0-.222,0-.443-.015-.663A10.436,10.436,0,0,0,29.65,9.318a10.238,10.238,0,0,1-2.946.807,5.147,5.147,0,0,0,2.255-2.837A10.279,10.279,0,0,1,25.7,8.533a5.134,5.134,0,0,0-8.741,4.678A14.562,14.562,0,0,1,6.39,7.852,5.133,5.133,0,0,0,7.978,14.7a5.091,5.091,0,0,1-2.328-.642v.065A5.131,5.131,0,0,0,9.765,19.15a5.121,5.121,0,0,1-2.316.088A5.135,5.135,0,0,0,12.241,22.8,10.292,10.292,0,0,1,5.871,25a10.441,10.441,0,0,1-1.221-.074,14.521,14.521,0,0,0,7.862,2.3" transform="translate(-0.15 -0.073)" fill="#1da1f2"></path> </symbol> </defs></svg><svg><use xlink:href="#twitter-square"></use></svg></span><span class="show-for-medium">@Client.Twitter</span></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/user/windowsazure"><span class="icon icon-size3"><svg style="display: none; visibility: hidden;"><defs><symbol id="youtube" viewBox="0 0 40 40"> <title lang="en">@Client.YouTube</title> <rect width="40" height="40" fill="#e52d27"></rect> <path d="M33.72,14.4a6.058,6.058,0,0,0-1.113-2.779A4,4,0,0,0,29.8,10.437c-3.918-.283-9.8-.283-9.8-.283h-.012s-5.877,0-9.8.283a4.005,4.005,0,0,0-2.806,1.186A6.056,6.056,0,0,0,6.28,14.4,42.344,42.344,0,0,0,6,18.933v2.124a42.342,42.342,0,0,0,.28,4.532,6.056,6.056,0,0,0,1.113,2.779,4.748,4.748,0,0,0,3.087,1.2c2.24.215,9.52.281,9.52.281s5.884-.009,9.8-.292a4,4,0,0,0,2.806-1.186,6.058,6.058,0,0,0,1.113-2.779A42.406,42.406,0,0,0,34,21.058V18.933A42.408,42.408,0,0,0,33.72,14.4Zm-16.611,9.23V15.765l7.566,3.947Z" fill="#fff"></path> </symbol></defs></svg><svg><use xlink:href="#youtube"></use></svg></span><span class="show-for-medium">@Client.YouTube</span></a></li>
                        <li><a target="_blank" href="https://azure.microsoft.com/blog/feed/"><span class="icon icon-size3"><svg style="display: none; visibility: hidden;"><defs><symbol id="rss" viewBox="0 0 50 50"> <title lang="en">Client.RSS</title> <rect x="0" fill="#ea8335" width="50" height="50"></rect> <path fill="#FFFFFF" d="M31.5,41.3h-5.6c0-9.5-7.7-17.2-17.2-17.2v-5.6C21.3,18.5,31.5,28.7,31.5,41.3z"></path> <path fill="#FFFFFF" d="M41.3,41.3h-5.6c0-14.9-12.2-27-27-27V8.7C26.7,8.7,41.3,23.3,41.3,41.3z"></path> <circle fill="#FFFFFF" cx="14.2" cy="35.8" r="5.5"></circle> </symbol> </defs></svg><svg><use xlink:href="#rss"></use></svg></span><span class="show-for-medium">@Client.Rss</span></a></li>
                        <li><a target="_blank" href="https://azure.microsoft.com/community/newsletter/"><span class="icon icon-size3"><svg style="display: none; visibility: hidden;"><defs><symbol id="newsletter" viewBox="0 0 28 28"> <title lang="en">Client.NewsLetter</title> <rect width="28" height="28" fill="#515252"></rect> <rect x="5.527" y="9.223" width="16.802" height="10.245" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.639"></rect> <polyline points="22.428 9.904 13.928 15.947 5.428 9.904" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.639"></polyline> </symbol> </defs></svg><svg><use xlink:href="#newsletter"></use></svg></span><span class="show-for-medium">@Client.Newsletter</span></a></li>
                    </ul>
                </nav>
                <div class="column medium-3">
                    <nav data-control="toggle" role="navigation" aria-labelledby="navigation-azure">
                        <div class="text-heading6 toggler" id="navigation-azure">
                            <a target="_blank" href="https://azure.microsoft.com/">@Client.MicrosoftAzure</a>
                        </div>
                        <ul class="linkList toggled">
                            <li><a target="_blank" href="https://azure.microsoft.com/solutions/">@Client.Solutions</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/services/">@Client.Services</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/regions/">@Client.Regions</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/case-studies/">@Client.CaseStudies</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/pricing/">@Client.Pricing</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/pricing/member-offers/">@Client.MemberOffers</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/pricing/calculator/">@Client.Calculator</a></li>
                            <li><a target="_blank" href="https://docs.microsoft.com/azure/">@Client.Documentation</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/downloads/?sdk=net">@Client.Downloads</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/resources/samples/">@Client.Samples</a></li>
                            <li><a target="_blank" href="https://azuremarketplace.microsoft.com/">@Client.Marketplace</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/overview/datacenters/">@Client.Datacenters</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column medium-3">
                    <nav data-control="toggle" role="navigation" aria-labelledby="navigation-community">
                        <div class="text-heading6 toggler" id="navigation-community">
                            <a target="_blank" href="https://azure.microsoft.com/blog/">@Client.Community</a>
                        </div>
                        <ul class="linkList toggled">
                            <li><a target="_blank" href="https://azure.microsoft.com/blog/">@Client.Blog</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/updates/">@Client.ServiceUpdates</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/support/forums/">@Client.Forums</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/community/events/">@Client.Events</a></li>
                            <li><a target="_blank" href="https://news.microsoft.com/features/azure/?wt.mc_id=azuremktg_hp_careers">@Client.Careers</a></li>
                        </ul>
                    </nav>
                    <nav data-control="toggle" role="navigation" aria-labelledby="navigation-support2">
                        <div class="text-heading6 toggler" id="navigation-support2">
                            <a target="_blank" href="https://azure.microsoft.com/support/options/">@Client.Support</a>
                        </div>
                        <ul class="linkList toggled">
                            <li><a target="_blank" href="https://azure.microsoft.com/support/forums/">@Client.Forums</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/status/">@Client.AzureStatusDashboard</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/support/options/">@Client.Support</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column medium-3">
                    <nav data-control="toggle" role="navigation" aria-labelledby="navigation-account">
                        <div class="text-heading6 toggler" id="navigation-account">
                            <a target="_blank" href="https://account.windowsazure.com/Home/Index?l=@CultureInfo.CurrentCulture.Name">@Client.Account</a>
                        </div>
                        <ul class="linkList toggled">
                            <li><a target="_blank" href="https://account.windowsazure.com/subscriptions/?l=@CultureInfo.CurrentCulture.Name">@Client.Subscriptions</a></li>
                            <li><a target="_blank" href="https://account.windowsazure.com/profile/?l=@CultureInfo.CurrentCulture.Name">@Client.Profile</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/services/preview/">@Client.PreviewFeatures</a></li>
                            <li><a target="_blank" href="https://portal.azure.com/">@Client.MicrosoftAzureportal</a></li>
                        </ul>
                    </nav>
                    <nav data-control="toggle" role="navigation" aria-labelledby="navigation-trust-center">
                        <div class="text-heading6 toggler" id="navigation-trust-center">
                            <a target="_blank" href="https://azure.microsoft.com/support/trust-center/">@Client.TrustCenter</a>
                        </div>
                        <ul class="linkList toggled">
                            <li><a target="_blank" href="https://azure.microsoft.com/support/trust-center/security/">@Client.Security</a></li>
                            <li><a target="_blank" href="https://azure.microsoft.com/support/trust-center/privacy/">@Client.Privacy</a></li>
                            <li><a target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=837787">@Client.Compliance</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row row-divided row-size2">
                <div class="column medium-6">
                    <p class="footer-hello">@Client.HellofromSeattle</p>
                </div>
                <div class="column medium-4">
                    <ul class="linkList linkList-legal">
                        <li><a target="_blank" href="https://azure.microsoft.com/overview/sales-number/">@Client.ContactUs</a></li>
                        <li class="feedback"><a target="_blank" href="https://feedback.azure.com/forums/34192--general-feedback">@Client.Feedback</a></li>
                        <li><a target="_blank" href="https://www.microsoft.com/legal/intellectualproperty/Trademarks/">@Client.Trademarks</a></li>
                        <li><a target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=248681">@Client.PrivacyCookies</a></li>
                    </ul>
                </div>
                <div class="column medium-2">
                    <div class="footer-copyright pull-right">
                        <a target="_blank" href="https://www.microsoft.com/" class="logo-microsoft">
                            <svg style="display: none; visibility: hidden;">
                                <defs>
                                    <symbol id="microsoft" viewBox="0 0 244.052 47.146">
                                        <title>@Client.Microsoft</title>
                                        <path d="M48.019,4.991v43.2h-7.5V14.33H40.4L26.99,48.191H22.02L8.283,14.33h-.09V48.191H1.263V4.991H12.018L24.43,37.015h.18l13.1-32.024Zm6.273,3.284A3.969,3.969,0,0,1,55.6,5.247a4.42,4.42,0,0,1,3.118-1.22,4.359,4.359,0,0,1,3.193,1.25,4.065,4.065,0,0,1,1.266,3,3.909,3.909,0,0,1-1.3,2.982,4.474,4.474,0,0,1-3.164,1.205,4.387,4.387,0,0,1-3.148-1.22A3.944,3.944,0,0,1,54.291,8.275Zm8.043,8.947V48.191h-7.29V17.222ZM84.448,42.889a10.068,10.068,0,0,0,3.584-.753,15.074,15.074,0,0,0,3.615-1.988v6.778a14.6,14.6,0,0,1-3.962,1.506,21.584,21.584,0,0,1-4.865.512A14.733,14.733,0,0,1,67.426,33.58a17.661,17.661,0,0,1,4.369-12.307q4.368-4.835,12.381-4.835a16.926,16.926,0,0,1,4.142.527,13.835,13.835,0,0,1,3.328,1.22v6.989A14.909,14.909,0,0,0,88.2,23.262a9.957,9.957,0,0,0-3.6-.678,9.137,9.137,0,0,0-6.959,2.8,10.548,10.548,0,0,0-2.651,7.561,10.065,10.065,0,0,0,2.546,7.321A9.191,9.191,0,0,0,84.448,42.889ZM112.4,16.71a9.239,9.239,0,0,1,1.567.12,6.544,6.544,0,0,1,1.175.3v7.38a6.363,6.363,0,0,0-1.672-.8,8.282,8.282,0,0,0-2.666-.376,5.659,5.659,0,0,0-4.534,2.259q-1.852,2.259-1.853,6.959V48.191H97.13V17.222h7.291V22.1h.12a8.547,8.547,0,0,1,3.013-3.962A8.173,8.173,0,0,1,112.4,16.71Zm3.136,16.448q0-7.682,4.338-12.171t12.05-4.489q7.26,0,11.343,4.323T147.352,32.5q0,7.532-4.338,11.99T131.2,48.944q-7.2,0-11.432-4.232T115.54,33.158Zm7.592-.241q0,4.851,2.2,7.411a7.843,7.843,0,0,0,6.3,2.56,7.341,7.341,0,0,0,6.055-2.56q2.079-2.561,2.079-7.592,0-5-2.154-7.547a7.48,7.48,0,0,0-6.04-2.545,7.638,7.638,0,0,0-6.221,2.666Q123.131,27.976,123.132,32.917ZM158.2,25.356a3.124,3.124,0,0,0,.994,2.455,17.011,17.011,0,0,0,4.4,2.244,14.908,14.908,0,0,1,6.13,3.932,8.152,8.152,0,0,1,1.762,5.287,8.5,8.5,0,0,1-3.359,7.019q-3.359,2.652-9.083,2.651a21.86,21.86,0,0,1-4.263-.467,18.991,18.991,0,0,1-3.962-1.19v-7.17a17.961,17.961,0,0,0,4.278,2.2,12.533,12.533,0,0,0,4.157.814,7.407,7.407,0,0,0,3.646-.693,2.477,2.477,0,0,0,1.174-2.32,3.221,3.221,0,0,0-1.22-2.546,18.084,18.084,0,0,0-4.625-2.4,14.284,14.284,0,0,1-5.724-3.8,8.314,8.314,0,0,1-1.687-5.363,8.474,8.474,0,0,1,3.329-6.884,13.283,13.283,0,0,1,8.631-2.7,20.89,20.89,0,0,1,3.645.361,16.121,16.121,0,0,1,3.374.934v6.929a15.571,15.571,0,0,0-3.374-1.657,11.257,11.257,0,0,0-3.826-.693,5.577,5.577,0,0,0-3.239.813A2.579,2.579,0,0,0,158.2,25.356Zm16.417,7.8q0-7.682,4.338-12.171T191,16.5q7.26,0,11.343,4.323T206.427,32.5q0,7.532-4.338,11.99t-11.81,4.458q-7.2,0-11.432-4.232T174.614,33.158Zm7.592-.241q0,4.851,2.2,7.411a7.843,7.843,0,0,0,6.3,2.56,7.341,7.341,0,0,0,6.055-2.56q2.079-2.561,2.079-7.592,0-5-2.154-7.547a7.48,7.48,0,0,0-6.04-2.545,7.638,7.638,0,0,0-6.221,2.666Q182.206,27.976,182.206,32.917Zm48.407-9.731H219.755v25h-7.38v-25h-5.182V17.222h5.182V12.914a10.716,10.716,0,0,1,3.178-8A11.146,11.146,0,0,1,223.7,1.8a18.088,18.088,0,0,1,2.35.136,9.322,9.322,0,0,1,1.808.406v6.3a7.546,7.546,0,0,0-1.266-.512,6.581,6.581,0,0,0-2.078-.3,4.4,4.4,0,0,0-3.525,1.431,6.316,6.316,0,0,0-1.235,4.232v3.736h10.858v-6.96l7.321-2.229v9.189h7.381v5.965h-7.381v14.49a6.108,6.108,0,0,0,1.039,4.037,4.148,4.148,0,0,0,3.269,1.175,4.873,4.873,0,0,0,1.522-.3,7.142,7.142,0,0,0,1.552-.723V47.89a8.575,8.575,0,0,1-2.3.723,15.726,15.726,0,0,1-3.178.331q-4.61,0-6.914-2.455t-2.3-7.4Z"
                                              transform="translate(-1.263 -1.797)" fill="#fff"></path>
                                    </symbol>
                                </defs>
                            </svg>
                            <svg>
                                <use xlink:href="#microsoft"></use>
                            </svg>
                        </a> <span>&copy; 2017 @Client.Microsoft</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>